@use "../../../../colors" as col;
@media (max-width: 600px){
  .divider{
    display: none;
  }
  .main{
    background: transparent!important;
  }
  ::ng-deep .mat-card{
    overflow: hidden;
    background: map-get(col.$personal-primary,900);
    padding: 50px 30px!important;
  }
  //::ng-deep .mat-form-field-underline {
  //  background-color: map-get(col.$personal-primary, 800) !important;
  //}
  //::ng-deep .mat-form-field-ripple {
  //  background-color: map-get(col.$personal-primary, 800) !important;
  //}
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: map-get(col.$personal-accent, 700);
    -webkit-box-shadow: 0 0 0px 1000px map-get(col.$personal-primary, 900) inset;}
  ::ng-deep .mat-form-field {
    width: 100%;
  }
  ::ng-deep .mat-form-field-label{
    color: map-get(col.$personal-primary, 800);
  }
}
.redefine{
  margin-top: -200px;
}
