.home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  .image{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      opacity: .4;
    }

  }
}
.mobile{
  display: none;
}
.desktop{
  display: block;
}

@media (max-width: 600px) {
  .mobile{
    display: block;
    margin: 0;
    padding: 0;

  }
  .desktop{
    display: none;
  }

}
